.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.button {
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  outline: none;
}
.reset {
  background-color: rgb(238, 102, 5);
}
